.row {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.08rem;
  color: #fff;
  cursor: pointer;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters {
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 1vw;
}

.row__poster:hover {
  transform: scale(1.08);
}

.rowPosterLarge {
  max-height: 250px;
}

@media only screen and (max-width: 700px) {
  .row {
    margin-left: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #fff;
    cursor: pointer;
  }

  .row__poster {
    object-fit: contain;
    width: 98%;
    max-height: 80px;
    margin-right: 10px;
    transition: transform 450ms;
    border-radius: 0.7vw;
  }

  .rowPosterLarge {
    max-height: 190px;
  }
}
