.banner {
  background-size: cover;
  color: white;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3em;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  max-width: 360px;
  height: 80px;
}

.banner_button {
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 0.2vw;
  padding: 10px 18px;
  background-color: rgba(51, 51, 51, 0.75);
  padding-bottom: 0.8rem;
  padding-top: 0.9rem;
  margin-right: 1rem;
  border: none;
  font-size: 17px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner__fadeBottom {
  height: 7.4rem;

  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.67)
  );
}

@media only screen and (max-width: 700px) {
  .banner__contents {
    margin-left: 30px;
    padding-top: 115px;
    height: 200px;
  }
  .banner {
    height: 400px;
    margin-bottom: 10px;
  }
  .banner__title {
    max-width: 250px;
    font-size: 1.6em;
    font-weight: 600;
    padding-bottom: 0.3rem;
  }

  .banner__description {
    width: 45rem;
    font-size: 0.86rem;
    line-height: 1.2rem;
    max-width: 300px;
    height: 80px;
  }

  .banner__contents {
    margin-left: 20px;
  }
}
